ion-content {
    --background: linear-gradient(to bottom, #0c5237, #b3e5cd);
    color: #0c5237; 
    font-family: 'Arial', sans-serif;
  }
  ion-header {
    --background: #ffffff; 
    --color: #0c5237; 
  }
  
  ion-toolbar {
    --background: #ffffff;
  }
  
  ion-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0c5237;
  }
  ion-label {
    color: #0c5237; 
  }
  
