.login-container {
    display: flex;
    justify-content: center; 
    align-items: center;          
    flex-direction: column; 
    height: 60%;    
  }
  
  form {
    width: 70%;                 
    border-style: solid;
    border-color: grey;
    border-width: 0.5px;  
    border-radius: 5px;  
  }
  
  .custom-button{
    border-radius: 200px;
    width: 90%;
    margin-left: 15px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .custom-input {
    margin-top: 20px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 10px;

  }

  .titulo-compis {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }

  p {
    text-decoration: underline;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
  }

  .register-button {
    margin-left: 30%;
    width: 130%;
  }