
<ion-content>
  <!-- Encabezado con actualización -->
  <div class="header-update">
    <ion-card>
      <!--<img src="assets/imagenes/imagen.png" alt="Update Image" />-->
      <ion-card-header>
        <ion-card-title>Nueva Actualización</ion-card-title>
        <ion-card-subtitle>Mejoras de rendimiento</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="light" size="small">Leer</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="titulo">
    <h3>Compis Recientes</h3>
  </div>
  <!-- Segmento de selección -->
  <ion-segment value="volante">
    <ion-segment-button value="volante">
      <ion-label>Compi al Volante</ion-label>
    </ion-segment-button>
    <ion-segment-button value="acompanante">
      <ion-label>Compi Acompañante</ion-label>
    </ion-segment-button>
  </ion-segment>


  <!-- Lista de Compis -->
  <ion-list>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="assets/avatar1.png" />
      </ion-avatar>
      <ion-label>
        <h2>Martin Osorio</h2>
        <p>Desde: La Pintana</p>
        <p>Hacia: Sede San Bernardo</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline" [color]="liked ? 'danger' : 'medium'" (click)="toggleLike()"></ion-icon>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="assets/avatar2.png" />
      </ion-avatar>
      <ion-label>
        <h2>Jeremias Fernandez</h2>
        <p>Desde: La Cisterna</p>
        <p>Hacia: Sede Puente Alto</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="assets/avatar3.png" />
      </ion-avatar>
      <ion-label>
        <h2>Izumi Reyes</h2>
        <p>Desde: Valparaíso</p>
        <p>Hacia: Sede Maipú</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- Botón para ver todos -->
  <div class="div-boton">
    <ion-button class="boton-ver" fill="clear">Ver todos los Compis</ion-button>
  </div>

</ion-content>
